@model ValueTuple<IEnumerable<IPublishedElement>, string, string>

@using System.Globalization
@using Umbraco.Core.Services
@using Umbraco.Web.Models

@{
    IEnumerable<IPublishedElement> links = Model.Item1;
    string logoText = Model.Item2;
    string smallLogoText = Model.Item3;

    ILocalizationService ls = Umbraco.Core.Composing.Current.Services.LocalizationService;
    IEnumerable<ILanguage> languages = ls.GetAllLanguages();
}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <div class="container-fluid p-0">
            <div class="navbar-brand col-1">
                <a href="/">
                    <div style="float:left" id="logo">
                    </div>
                    <div>
                        <span class="logo-text">@logoText</span><br>
                        <span class="small-logo-text">@smallLogoText</span>
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" style="border-color: transparent" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    @if (links != null && links.Any())
                    {
                        foreach (var link in links)
                        {
                            var l = link.Value<Link>("PageLink");
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="@l.Url">
                                    @l.Name
                                </a>
                            </li>
                        }
                    }
                    @if (languages.Count() > 1)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-globe"></i>
                            </a>
                            <ul class="dropdown-menu bg-transparent" aria-labelledby="navbarDropdown">
                                @foreach (var lang in languages)
                                {
                                    <li><a class="dropdown-item" href="@("/" + lang.CultureInfo.TwoLetterISOLanguageName)"><span class="text-dark">@lang.CultureName</span></a></li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</div>